
/* Top */

#top{
    padding: 10px;
}

.social-links li a i{
    color: white;
    padding-top: 25px;
}

.logo {
    background: url(../images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
}

.col-sm-4 p {
    color: white;
    text-align: right;
    padding-top: 25px;
}

.col-sm-4 i {
    color: white;
}
